.MessageBox{
    position: fixed;
    z-index: 100;
    bottom: 1em;
    right: 1em;
    max-width: 18em;
    padding: .1em .7em;
    display: flex;
    align-items: center;
    gap: .7em;
    transform: translateX(150%);
    transition: transform .5s ease-in;

    &--active{ transform: translateX(0) }
    &--ERROR{ background-color: rgba(175, 91, 91, 0.788) }
    &--OK{ background-color: rgba(96, 173, 96, 0.726) }

    &__icon{ font-size: 3em; color: #000 }
    &__message{ font-size: .9em; color: #000 }
}