
$background-color: #4d4d4d;

$primary-color: rgb(212, 212, 212);
$secundary-color: rgb(71, 71, 71);
$tertiary-color: rgb(44, 44, 44);

$info-color: rgb(165, 165, 165);
$input-color: rgb(153, 151, 151);